<!-- header -->
<div id="carousel-top" class="carousel slide" data-ride="carousel" style="height:600px">
    <div class="carousel-inner">
        <div class="slide-element">
            <h1 class="top_text">Jam City</h1>
            <h1 class="bottom_text">Live</h1>
        </div>
    </div>

</div>
<div class="container col-lg-12">
    <h3 class="column-title">Jam City Concert: Featured Videos</h3>
    <div class="row">
        <div class="col-lg-4 text-center">
            <iframe width="350" height="225" src="https://www.youtube.com/embed/c8HW77YEkAE?rel=0&amp;showinfo=0" controls="0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="col-lg-4 text-center">
            <iframe width="350" height="225" src="https://www.youtube.com/embed/c8HW77YEkAE?rel=0&amp;showinfo=0" controls="0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="col-lg-4 text-center">
            <iframe width="350" height="225" src="https://www.youtube.com/embed/SgB7CFBjWaM?rel=0&amp;showinfo=0" controls="0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<%= render 'form' %>
