<!-- header -->
<div class="container tm-container">
  <div class="page-header">
    <h1 id="timeline">Jam City Timeline</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Auditions</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> JUNE 2014</small></p>
        </div>
        <div class="timeline-body">
          <p>Audutons for potential contestants.</p>
          <a href="#" class="btn btn-info btn-sm">Pictures</a>
          <a href="#" class="btn btn-info btn-sm">Videos</a>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Rehearsals</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> JUNE 2014</small></p>
        </div>
        <div class="timeline-body">
          <p>Rehearsal for upcoming Jam City event.</p>
          <a href="#" class="btn btn-info btn-sm">Pictures</a>
          <a href="#" class="btn btn-info btn-sm">Videos</a>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Cypher</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> AUGUST 2014</small></p>
        </div>
        <div class="timeline-body">
          <p>Graffitis, basketball match, rap and dance.</p>
          <a href="#" class="btn btn-info btn-sm">Pictures</a>
          <a href="#" class="btn btn-info btn-sm">Videos</a>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Concert</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> DEC 2014</small></p>
        </div>
        <div class="timeline-body">
          <p>Concert perfomances and highlights.</p>
          <a href="#" class="btn btn-info btn-sm">Pictures</a>
          <a href="#" class="btn btn-info btn-sm">Videos</a>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Festival</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> JAN 2015</small></p>
        </div>
        <div class="timeline-body">
          <p>Festival events and perfomances.</p>
          <a href="#" class="btn btn-info btn-sm">Pictures</a>
          <a href="#" class="btn btn-info btn-sm">Videos</a>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Cypher</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> FEB 2015</small></p>
        </div>
        <div class="timeline-body">
          <p>Some new cypher event held recently</p>
          <a href="#" class="btn btn-info btn-sm">Pictures</a>
          <a href="#" class="btn btn-info btn-sm">Videos</a>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- footer -->
