<!-- header -->
<div id="carousel-top" class="carousel slide" data-ride="carousel" style="height:600px">
  <div class="carousel-inner">
    <div class="slide-element">
      <h1 class="top_text">Jam City</h1>
      <h1 class="bottom_text">Events</h1>
      <h3 class="bottom_text">...coming soon</h3>
    </div>
  </div>

</div>
<div class="container col-lg-12">
  <h3 class="column-title">Jam City Concert: Featured Videos</h3>
  <div class="row">
    <div class="col-lg-4 text-center">
      <iframe width="350" height="225" src="https://www.youtube.com/embed/c8HW77YEkAE?rel=0&amp;showinfo=0" controls="0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="col-lg-4 text-center">
      <iframe width="350" height="225" src="https://www.youtube.com/embed/c8HW77YEkAE?rel=0&amp;showinfo=0" controls="0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="col-lg-4 text-center">
      <iframe width="350" height="225" src="https://www.youtube.com/embed/SgB7CFBjWaM?rel=0&amp;showinfo=0" controls="0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
<div class="col-lg-11 content-container">
  <div class="container-fluid">
    <div class="row">
      <!-- content -->
      <div class="col-lg-8">
        <div class="col-lg-12 featured-content">
          <h3>Jam City Auditions</h3>
          <!-- <a href="#" class="thumbnail"> -->
          <img class="img-square col-lg-5" src="/assets/jam_city_aud.jpg" alt="" />
          <!-- </a> -->
          <p class="col-lg-7">Rehearsals were heavy and exam was just around the corner, but
            the Jam City crew in LCU and the participants pulled it off.</p>
        </div>
        <div class="col-lg-12 featured-content">
          <h3>Jam City Cypher</h3>
          <!-- <a href="#" class="thumbnail"> -->
          <img class="img-square col-lg-5" src="/assets/jc_graffitti.jpg" alt="" />
          <!-- </a> -->
          <p class="col-lg-7">Jam City launched the Jam City Cypher on the Basketball
            court of Lead City University on October 30th 2014. It was mad fun, a lot of new
            discoveries were made, 9ja Artitude did his art thing.</p>
        </div>
        <div class="col-lg-12 featured-content">
          <h3>Jam City Concert</h3>
          <!-- <a href="#" class="thumbnail"> -->
          <img class="img-square col-lg-5" src="/assets/eva.jpg" alt="" />
          <!-- </a> -->
          <p class="col-lg-7">The crowd was live on December 10th 2014, the show was a blast
            and we had plentyof fun with the best of LCU Ibadan on stage and special guest performance                      by Eva.</p>
        </div>
      </div>
      <!-- Sidebar -->
      <div class="col-lg-4">
        <!-- latest news -->
        <div class="list-group blocks">
                    <span href="#" class="list-group-item active">
            <h3 class="list-group-item-heading">Hot News</h3>
          </span>
          <a href="#" class="list-group-item">
            <img class="img-square col-lg-4" src="http://lorempixel.com/50/50/city" alt="" />
            <h4 class="list-group-item-heading">Jam City Current Stop</h4>
            <p class="list-group-item-text">Jam City discovered a couple of talents in LCU and has given them a platform to showcase their talents. Oh yes, we have seen the good, bad, ugly, very ugly and the awesome!  Watch out for these guys!</p>
          </a>
          <a href="#" class="list-group-item">
            <img class="img-square col-lg-4" src="http://lorempixel.com/50/50/city" alt="" />
            <h4 class="list-group-item-heading">Eva Storms LCU Ibadan</h4>
            <p class="list-group-item-text">Her performance involved live production from the esoteric record producer Tintin on his controller, the skilful D’ Guitar on the guitar and Peter on the electronic drums.</p>
          </a>
          <a href="#" class="list-group-item">
            <img class="img-square col-lg-4" src="http://lorempixel.com/50/50/city" alt="" />
            <h4 class="list-group-item-heading">JAM CITY CYPHER #RetroThursday</h4>
            <p class="list-group-item-text">It’s all about to go down as we prepare to make history on the LCU Ibadan basketball court, 5pm this Thursday 26th February, 2015, as we give you the best of rap, art and dance. This is the secondedition of the Jam City Cypher as a battle will emerge during the cypher to crown the lord rap of #JamCity.</p>
          </a>
        </div>
        <!-- tweets -->
        <div class="list-group blocks">
                    <span href="#" class="list-group-item active">
            <h3 class="list-group-item-heading">Twitter</h3>
          </span>
          <a class="twitter-timeline"
             href="https://twitter.com/JamCityLive"
             data-widget-id="569070230820122624"
             data-chrome="">
            Tweets by @JamCityLive
          </a>
          <script>
              ! function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0],
                          p = /^http:/.test(d.location) ? 'http' : 'https';
                  if (!d.getElementById(id)) {
                      js = d.createElement(s);
                      js.id = id;
                      js.src = p + "://platform.twitter.com/widgets.js";
                      fjs.parentNode.insertBefore(js, fjs);
                  }
              }(document, "script", "twitter-wjs");
          </script>

        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <h2>Next Stop???</h2>
        <p>The Jam City train is currently at Lead City University Ibadan.  The students are awesome in their beautifully energetic style in depicting music and arts and that’s how we have come to realise they really know how to have fun. Jam City has currently hosted 5 events in the school and the turn outs have been massive, with the students always in an anxious spirit and ready to show what they have through the Jam City platform.</p>
        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
      </div>
    </div>
  </div>
</div>
<div class="container col-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <a href="#" class="thumbnail">
          <img class="img-square img-responsive" src="/assets/artitude.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#" class="thumbnail">
          <img class="img-square img-responsive" src="assets/hotties.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#" class="thumbnail">
          <img class="img-square img-responsive" src="/assets/rehearsals.jpg" alt="" />
        </a>
      </div>
      <div class="col-lg-3">
        <a href="#" class="thumbnail">
          <img class="img-square img-responsive" src="/assets/cool_cats.jpg" alt="" />
        </a>
      </div>
    </div>
  </div>
</div>
<!-- footer -->
