<!-- header -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
   <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag("backgd1.jpg") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <%= image_tag("backgd1.jpg") %>
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control carousel-control-flex" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="fa fa-angle-left fa-flex-col-reverse" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control carousel-control-flex" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="fa fa-angle-right fa-flex-col-reverse" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>

</div>
<div class="container col-lg-12">
    <!-- Container for contestants -->
</div>
<div class="col-lg-11 content-container">
  <div class="my-row">
    <div class="news">
      <h3>Latest News</h3>
      <div class="news-item">
        <img class="img-square col-lg-4 no-padding" src="/assets/jam_city_aud.jpg" alt="" />
        <div class="col-lg-7">
          <h4 class="no-margin">Title Sample</h4>
          <p>Rehearsals were heavy and exam was just around the corner, but the Jam City crew in LCU and the participants pulled it off.Rehearsals were heavy and exam was just around the corner, but he Jam City crew in LCU and the participants pulled it off.Rehearsals were heav </p>
          <a href="#" class="btn btn-info btn-sm">read more...</a>
        </div>
        
      </div>
      <div class="news-item">
        <img class="img-square col-lg-4 no-padding" src="/assets/jam_city_aud.jpg" alt="" />
        <div class="col-lg-7">
          <h4 class="no-margin">Title Sample</h4>
          <p>Rehearsals were heavy and exam was just around the corner, but the Jam City crew in LCU and the participants pulled it off.Rehearsals were heavy and exam was just around the corner, but he Jam City crew in LCU and the participants pulled it off.Rehearsals were heav </p>
          <a href="#" class="btn btn-info btn-sm">read more...</a>
        </div>
        
      </div>
      <div class="news-item">
        <img class="img-square col-lg-4 no-padding" src="/assets/jam_city_aud.jpg" alt="" />
        <div class="col-lg-7">
          <h4 class="no-margin">Title Sample</h4>
          <p>Rehearsals were heavy and exam was just around the corner, but he Jam City crew in LCU and the participants pulled it off.Rehearsals were heavy and exam was just around the corner, but he Jam City crew in LCU and the participants pulled it off.Rehearsals were heav </p>
          <a href="#" class="btn btn-info btn-sm">read more...</a>
        </div>
        
      </div>
    </div>
    <div class="videos">
      <h3>Videos</h3>
      <iframe width="auto" height="600" src="https://www.youtube.com/embed/c8HW77YEkAE?rel=0&amp;showinfo=0" controls="0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


    <div class="container-fluid">
        <div class="row">
            <!-- content -->
            <div class="col-lg-8">
                <div class="col-lg-12 featured-content">
                    <h3>Jam City Auditions</h3>
                    <!-- <a href="#" class="thumbnail"> -->
                    <img class="img-square col-lg-5" src="/assets/jam_city_aud.jpg" alt="" />
                    <!-- </a> -->
                    <p class="col-lg-7">Rehearsals were heavy and exam was just around the corner, but
                      the Jam City crew in LCU and the participants pulled it off.</p>
                </div>
                <div class="col-lg-12 featured-content">
                    <h3>Jam City Cypher</h3>
                    <!-- <a href="#" class="thumbnail"> -->
                    <img class="img-square col-lg-5" src="/assets/jc_graffitti.jpg" alt="" />
                    <!-- </a> -->
                    <p class="col-lg-7">Jam City launched the Jam City Cypher on the Basketball
                      court of Lead City University on October 30th 2014. It was mad fun, a lot of new
                      discoveries were made, 9ja Artitude did his art thing.</p>
                </div>
                <div class="col-lg-12 featured-content">
                    <h3>Jam City Concert</h3>
                    <!-- <a href="#" class="thumbnail"> -->
                    <img class="img-square col-lg-5" src="/assets/eva.jpg" alt="" />
                    <!-- </a> -->
                    <p class="col-lg-7">The crowd was live on December 10th 2014, the show was a blast
                      and we had plentyof fun with the best of LCU Ibadan on stage and special guest performance                      by Eva.</p>
                </div>
            </div>
            <!-- Sidebar -->
            <div class="col-lg-4">
                <!-- latest news -->
                <div class="list-group blocks">
                    <span href="#" class="list-group-item active">
                      <h3 class="list-group-item-heading">Hot News</h3>
                    </span>
                    <a href="#" class="list-group-item">
                        <img class="img-square col-lg-4" src="http://lorempixel.com/50/50/city" alt="" />
                        <h4 class="list-group-item-heading">Jam City Current Stop</h4>
                        <p class="list-group-item-text">Jam City discovered a couple of talents in LCU and has given them a platform to showcase their talents. Oh yes, we have seen the good, bad, ugly, very ugly and the awesome!  Watch out for these guys!</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <img class="img-square col-lg-4" src="http://lorempixel.com/50/50/city" alt="" />
                        <h4 class="list-group-item-heading">Eva Storms LCU Ibadan</h4>
                        <p class="list-group-item-text">Her performance involved live production from the esoteric record producer Tintin on his controller, the skilful D’ Guitar on the guitar and Peter on the electronic drums.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <img class="img-square col-lg-4" src="http://lorempixel.com/50/50/city" alt="" />
                        <h4 class="list-group-item-heading">JAM CITY CYPHER #RetroThursday</h4>
                        <p class="list-group-item-text">It’s all about to go down as we prepare to make history on the LCU Ibadan basketball court, 5pm this Thursday 26th February, 2015, as we give you the best of rap, art and dance. This is the secondedition of the Jam City Cypher as a battle will emerge during the cypher to crown the lord rap of #JamCity.</p>
                    </a>
                </div>
                <!-- tweets -->
              <div class="list-group blocks">
                    <span href="#" class="list-group-item active">
                        <h3 class="list-group-item-heading">Twitter</h3>
                    </span>
                <a class="twitter-timeline"
                   href="https://twitter.com/JamCityLive"
                   data-widget-id="569070230820122624"
                   data-chrome="">
                  Tweets by @JamCityLive
                </a>
                <script>
                    ! function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");
                </script>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h2>Next Stop???</h2>
      <p>The Jam City train is currently at Lead City University Ibadan.  The students are awesome in their beautifully energetic style in depicting music and arts and that’s how we have come to realise they really know how to have fun. Jam City has currently hosted 5 events in the school and the turn outs have been massive, with the students always in an anxious spirit and ready to show what they have through the Jam City platform.</p>
    </div>
    <div class="col-lg-5">
      <a href="#">
        <img class="jcl-img img-square img-responsive" src="/assets/jcl.gif" />
      </a>
    </div>
  </div>
</div>