<section>
  <h3 class="page-header text-center">Welcome to the Admin Dashboard</h3>
  <div>
    <%= link_to 'Create New Contestant', new_contestant_path, :class => 'btn btn-primary' %>
    <%= link_to 'Create New Post', new_post_path, :class => 'btn btn-primary' %>
    <%= link_to 'AddNew Media File', new_medium_path, :class => 'btn btn-primary' %>
  </div>
</section>

