<section id="about_us">
  <div class="background">
    <div>
      <h1>About Us Page</h1>
    </div>
    <section id="what">
      <div>
        <p>
          What is Jam City?
        </p>
        <ul>
          <li>
            Jam City is an initiative that simply encourages the concept “Learn by Doing”.
          </li>
          <li>
            These days, students go to schools but still do not get educated. They get drained
            in school work and they only think of reading to pass exams and just getting their
            certificates.
          </li>
          <li>
            Jam City is all about educating young people. Educating in the sense that it is all
            about providing students with a platform to practice what they really want to
            become in the near future.
          </li>
          <li>
            Jam City is all about giving these young people room to build up their skills and
            talents by involving them in activities that will teach and prepare them to improve
            their production levels.
          </li>
        </ul>
      </div>
      <div>

      </div>
    </section>
    <section id="sponsors">
      <div>

      </div>
    </section>
    <section id="contact">
      <div>

      </div>
    </section>
  </div>
</section>