<% content_for :view_css do %>
  <%=stylesheet_link_tag( 'about', media: 'all', 'data-turbolinks-track'=> true )%>
<% end %>


<!-- header -->
<!-- header -->
<div id="carousel-top" class="carousel slide" data-ride="carousel" style="height:800px">
    <div class="carousel-inner">
        <div class="slide-element">
            
        </div>
    </div>
</div>
<div class="col-lg-11 content-container">
  <section id="about_us">
    <div class="background">
      <div style="text-align:center">
        <h4 class="inline logo-blue">About JamCity</h4>
      </div>
      <section id="what">
        <div>
          <div class="section-title">
            <h5><i class="fa fa-unlock-alt fa-2x"></i><strong>&nbsp;What is Jam City?</strong></h5>
          </div>
          <ul class="section">
            <li>
              Jam City is an initiative that simply encourages the concept “Learn by Doing”.
            </li>
            <li>
              These days, students go to schools but still do not get educated. They get drained
              in school work and they only think of reading to pass exams and just getting their
              certificates.
            </li>
            <li>
              Jam City is all about educating young people. Educating in the sense that it is all
              about providing students with a platform to practice what they really want to
              become in the near future.
            </li>
            <li>
              Jam City is all about giving these young people room to build up their skills and
              talents by involving them in activities that will teach and prepare them to improve
              their production levels.
            </li>
          </ul>
          <br>
          <div class="section-title">
            <i class="fa fa-hand-o-down fa-2x"></i><strong>Aims and Objectives</strong>
          </div>
          <ul class="section">
            <li><i class="fa fa-check-circle fa-lg"></i>
              Jam City’s foremost aim is to educate and train participants in different fields
              especially in arts and entertainment.
            </li>
            <li><i class="fa fa-check-circle fa-lg"></i>
              Jam City aims to educate and improve skills such Beas creative skills, productive
              skills, management skills and leadership skills, in participants, which will help
              them to be independent.
            </li>
            <li><i class="fa fa-check-circle fa-lg"></i>
              Also, Jam City is all about providing quality entertainment to the audience by
              providing live performances from participants to the audience.
            </li>
          </ul>
          <div class="section-title">
            <i class="fa fa-hand-o-right fa-2x"></i><strong>Benefits</strong>
          </div>
          <ul class="section">
            <li><i class="fa fa-check-circle fa-lg"></i>
              Jam City is an initiative that is designed to urbanize our culture through its
              various projects and activities.
            </li>
            <li><i class="fa fa-check-circle fa-lg"></i>
              Jam City will focus on readily equipping young people to help them achieve their
              goals, hereby ensuring that the next generation with be on a world class level
              especially in arts and entertainment.
            </li>
            <li><i class="fa fa-check-circle fa-lg"></i>
              Jam City is also about providing quality entertainment for its audience.
            </li>
          </ul>
        </div>
      </section>
    </div>
  </section>
</div>

<div class="container video">
  <div style="text-align:center" class="videos">
    <iframe class="video-box" width="700" height="500" src="http://www.youtube.com/embed/wXRtpMtZFUI?wmode=opaque" frameborder="2" allowfullscreen></iframe>
  </div>
</div>