.about-header{
  background: url('about-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 50%;
  height: 400px;
}

#about_us{
  margin-top: 10%;
}

.inline{
  display: inline-block;
}

.video-box{
  border: 7px solid #fafafa;
  box-shadow: 1px 5px 9px #949494;
  width:700px;
  max-width: 80%;
  height:500px;
}

.section-title{
  width: 100%;
  padding: 3px 3px;
  padding-left: 15px;
  border:1px solid #ddd;
  border-radius: 4px;
  color: #1f5f89;
  strong {
    padding-bottom: 150px; 
  }
}

ul.section{

}

.section{
  background-color: whitesmoke;
  border-radius: 2px;
  box-shadow: 1px 3px 4px #949494;
  color: #1f5f89;
  list-style: none;
  margin-top: 15px;
  padding: 3px 3px 3px 15px;
  width: 100%;
}

.fa{
  color: rgb(95, 191, 96);
}

.fa.fa-2x{
  color: rgb(75, 140, 216);
}

.logo-blue{
  color: rgb(55, 120, 196);
  font-weight: 50px;
  font-size: 2em;
  font-weight: bolder;
}


.video{
  background-color: rgb(124, 186, 225);
  width: 100%;
  margin: 50px 0px 0px 0px;
  padding: 50px 0px;
}


@media only screen and (max-width:1096px){
  #about_us{
    margin-top: 9%;
  }    
}