/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
* require_tree .
* require_self
*/

 @import 'contestants';

// Mixins
@mixin backgroundImageGradient($dir...) {
  background-image: -webkit-linear-gradient($dir...), -webkit-linear-gradient(bottom, rgba(255,255,255,.3), rgba(255,255,255,.3)), url('backgd1.jpg');
  background-image: -moz-linear-gradient($dir...), -webkit-linear-gradient(bottom, rgba(255,255,255,.3), rgba(255,255,255,.3)), url('backgd1.jpg');
  background-image: -o-linear-gradient($dir...), -webkit-linear-gradient(bottom, rgba(255,255,255,.3), rgba(255,255,255,.3)), url('backgd1.jpg');
  background-image: linear-gradient($dir...), -webkit-linear-gradient(bottom, rgba(255,255,255,.3), rgba(255,255,255,.3)), url('backgd1.jpg');
}

@mixin animate {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

// Variables
$dark_blue: #1F5F89;

/* Import other stylesheets */
@import "fonts";
@import "homes";
@import "modifier";

// Animation


body#home-page {
  @include backgroundImageGradient(top, rgba(2, 4, 27, .1), rgba(2, 6, 9, 0.1) 15%);
  @include animate;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% -2%;
  color: #555;
  font-family: "Lato", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.8em;
}

h1, h2, h3, h4, h5 {
  font-family: "Arvo", Serif;
  font-weight: 400;
}

h3 {
  font-size: 2.8em;
}

h4 {
  font-size: 1.5em;
}

.navbar {
  @include animate;
  border: none;
  border-radius: 0;
  left: 0;
  margin-bottom: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

.navbar-default {
  /*@include experimental('background', linear-gradient(bottom, rgba(0,0,0,0.3), rgba(0,0,255,0.6)), webkit, moz, o, ms, not khtml);*/
  background: none;
  padding: 20px 0 10px;
    .container {
      margin-top:5px;
    }
}



.navbar-default .navbar-nav {
  & .open > a {
    text-shadow: none;
  }
  & > li > a {
    border-radius: 4px;
    color: #FFF;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    padding-bottom: 10px;
    padding-top: 10px;
    text-shadow: 1px 1px #444;

    &:hover, :focus {
      color: #FFF;
      background-color: rgba(20,40,40,.5);
    }
  }
}

.scroll-bg {
  border-bottom: 1px solid rgba(31, 95, 137, 0.65);
  background-color: white;
  position: fixed;
  & .navbar-nav > li > a {
    color: $dark_blue;
    text-shadow: none;
  }
}

.navbar-nav > li > a:hover {
  // background-color: rgba(0,0,255,0.7) !important;
}

.navbar-default .navbar-nav>li>a {

}


.navbar-nav > li > a, .navbar-nav > li > a:focus , .navbar-nav > li > a:active {
//  color: white !important;
}

.navbar-nav > li > a:active {
//  background-color: #009EEB !important;
}

.btn-connect {
  background-color: $dark_blue;
  margin-left: 10px;
}

/*Profile Picture*/
.profile-img {
  //  display: inline-block;
  //  float: left;
  width: 32px;
  height: 32px;
  margin: -6px 10px -8px 0;
  border-radius: 50%;
}

.container > .row {
  padding: 50px 0;
}

/*Slide Elements*/
.slide-element {
  float: right;
  position: relative;
  margin-top: 300px;
  margin-right: 100px;
  h1 {
    font-size: 90px;
    font-family: "Averia Serif Libre";
    position: relative;
    &.top_text {
      left: 1000px;
    }
    &.bottom_text {
      left: -2000px;
    }
  }
}

// Container
.container {
  margin-top: 20px;
}

.content-container {
  // background-color: rgba(50,50,50,.5);
  margin-left: auto;
  margin-right: auto;
  float: none;
  clear: left;
}

.featured-content {
  margin-top: 20px;
  margin-bottom: 20px;
  h3 {
    padding: 10px 0px 10px 12px;
  }
}

// Sidebar Elements
.blocks {
  margin: 40px 0;
  span {
    background-color: rgb(20,50,155);
  }
}


// column styles
.column-title {
  font-family: "Averia Serif Libre";
  font-size: 43px;
  margin-left: 20px;
  padding: 15px 0px;
  border-top: 1px solid rgba(200,200,250,.7);
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1), rgba(0,0,255,0));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,0.1), rgba(0,0,255,0));
  background: -o-linear-gradient(bottom, rgba(0,0,0,0.1), rgba(0,0,255,0));
  background: linear-gradient(bottom, rgba(0,0,0,0.1), rgba(0,0,255,0));
}

.modal {
  background-color: white;
  padding-top: 10%;
  background: rgba(0,0,0,0.8);
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modal > div {
  border-top: solid 0.8em rgba(0,0,255,0.7);
  margin: 5px 15em 13px 15em;
  border-radius: 10px;
  color: #000000;
  background: #ffffff;
  background: -moz-linear-gradient(#ffffff, #ffffff);
  background: -webkit-linear-gradient(#ffffff, #ffffff);
  background: -o-linear-gradient(#ffffff, #ffffff);
}
footer {
  color: white;
  background-color: #1F5F89;
  font-family: 'Lato', sans-serif;
  .quote {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic;
  }
}
.jcl-img {
  max-height: 250px;
  max-width: 250px;
  margin-left: 120px;
}

// Media page

.overflow {
  overflow-x: hidden
}
.portfolio-list {
  list-style: none;
  margin-right: -2px;
  margin-left: -2px;
  overflow: hidden;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .02);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .02);
  text-align: center
}
.portfolio-list li {
  display: inline-block;
  width: 50%;
  max-width: 480px;
  text-align: left
}
@media (min-width: 30em) {
  .portfolio-list li {
    width: 33.33%
  }
}
@media (min-width: 54.375em) {
  .portfolio-list li {
    width: 25%
  }
}
.portfolio-list li img {
  width: 100%
}
.portfolio-list li a {
  position: relative;
  display: inline-block
}
@media (min-width: 54.375em) {
  .portfolio-list li a:hover .excerpt {
    display: inline-block
  }
}
.portfolio-list.instagram-list {
  max-width: 2400px;
  margin: 0 auto;
  display: block
}
.portfolio-list.instagram-list li {
  float: left;
  max-width: 600px
}
.lt-ie9 .portfolio-list {
  text-align: center;
  display: block
}
.lt-ie9 .portfolio-list li {
  width: 24%;
  float: none
}
.lt-ie9 .portfolio-list li img {
  height: auto;
  display: block;
  max-width: none;
  width: 100%
}
