// Place all the styles related to the contestants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contestants-page {
  padding: 2em 0;
  margin: -3.5em 0;
  background: #131618;
}

.contestant-list {
  text-align: center;
}

.contestant-list li {
  list-style: none;
  display: inline-block;
  padding: auto;
  margin: 1em;
}
.contestant-list-text {
  padding: 1.5em;
}
.contestant-list li a:hover {
  text-decoration: none;
}
.contestant {
  width: 200px;
  height: 270px;
  background: gray;
}