// Place all the styles related to the contestants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Contestants page
// .pre-contestants {
//   height: 45vh;
//   margin-top: -3em;
//   width: 100%;
// }
.contestant-list {
  text-align: center;

  & li {
    @include border_and_shadow;
    display: inline-block;
    list-style: none;
    margin: 1em;
    padding: auto;

    & a:hover {
      text-decoration: none;
    }
  }
}

.contestant {
  background: gray;
  height: 270px;
  width: 200px;
}
.contestants-page-header {
  @include backgroundImageGradient(url('ent-contestants.jpg'), top, rgba(55, 55, 55, .2), rgba(55, 55, 55, 0.2) 15%);
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 5px solid $dark_blue;
  color: #555;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  height: 400px;
  line-height: 1.8em;
}
.modal-content {
  z-index: 2;
}
