// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-inner {
  @include backgroundImageGradient(top, rgba(2, 4, 27, .1), rgba(2, 6, 9, 0.1) 15%);
  height: 100%;

  @media only screen and (max-width: 768px) {
    margin-top: 100px;
  }
}

.my-row {
  display: flex;

  & .news {
    flex: 2;
    display: flex;
    flex-direction: column;
    
    & .news-item {
      // display: flex;
      margin-bottom: 20px;

      & img {
        @include border_and_shadow;
        flex: 1;
        margin-bottom: 20px;
      }

      & div {
        flex: 2;
      }
    }
  }
  .videos {
    display: flex;
    flex: 1;
    flex-direction: column;

    & .video-container {
      display: flex;
      flex: 1 50%;
      flex-direction: column;
      padding-bottom: 90.25%;

      & iframe {
        @include border_and_shadow;
        height: 400px ;
      }
    }
    
    & .twitter-container {
      flex: 1 50%;
      margin-top: 30px;

      & iframe {
        height: 350px ;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}
