// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.timeline-header{
  background: url('event-bg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding-top: 200px;

  & h1 {
    color: white;
    padding-left: 30px;
  }
}

.jumbotron{
  background-color: white;
}

//.my-row {
//  display: flex;
//
//  & .news {
//    flex: 2;
//    display: flex;
//    flex-direction: column;
//
//    & .news-item {
//      // display: flex;
//      margin-bottom: 20px;
//
//      & img {
//        @include border_and_shadow;
//        flex: 1;
//        margin-bottom: 20px;
//      }
//
//      & div {
//        flex: 2;
//      }
//    }
//  }
//  .videos {
//    display: flex;
//    flex: 1;
//    flex-direction: column;
//  }
//}


//.post-title{
//  font-family: "Arvo", Serif;
////  margin: 20px 0px 20px;
//}
//
//.media-object{
//  margin: 50px auto 100px;
//}
//p.post-content{
//  margin: 20px 0px 20px;
//}